@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: theme('colors.bg');
  color: theme('colors.green');
  font-family: 'JetBrains Mono', monospace;
}

a {
  @apply underline;
}

.glow {
  text-shadow: 0px 0px 8px theme('colors.green');
}

[x-cloak] {
  display: none !important;
}
