* {
    font-family: 'Oxygen', sans-serif !important;
    margin:0;
}
:root{
    --font-1: #ccccff;
    --background-1: #080808;
    --background-2: #000000;
    --background-3: #797979;
    --highlight-1: #ab946b;
    --highlight-1-rgba: rgba(171,148,107,0.2);
}
.top-bar{
    overflow: hidden;
    position: sticky;
    top:0;
    width:100%;
    left:0;
    height:52px;
    color: var(--font-1);
    background-color: var(--background-1);
    display: flex;
    user-select: none;
    justify-content: flex-start;
}
.sidebar-item{
    color: var(--font-1);
}
.bar-title{
    margin-left:0;
}
.icon-bar{
    
    column-gap:13px;
    padding: 0 20px 0 20px;
    display: flex;
    user-select: none;
}
.bar-item{
    flex-shrink: 0;
    margin: auto;

    display: inline-block;
}
.underscore-thingy{
    flex-shrink: 0;
    display:inline-block;
    width:22px;
    height:2.5px;
    background-color: var(--highlight-1);
    top:5px;
    right:10px;
    box-shadow: 0px 0px 8px --highlight-1;
    position: relative;
    animation-name: blink;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0%,76%   {opacity: 100%;}
    90% {opacity: 0%;}
    100% {opacity: 100%;}
}
.bar-icon{
    width:40px;
}
#sidebar{
    display: none;
    width:400px;
    height:100%;
    position: absolute;
    top:0;
    left:-260px;
    background-color: var(--background-2);
}
.sidebar-item{

    width:calc(100% - (30px * 2));
    margin:5px;
    margin-bottom: 0;
    margin-left:20px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:10px;
    height:auto;
    display: inline-block;
    border-radius: 0 4px 4px 0;
    background-color:rgba(0,0,0,0);
}
.sidebar-item-bar{
    position: absolute;
    margin-left: -10px;
    border-radius: 4px 0 0 4px;
    width:5px;
    background-color: var(--highlight-1);
}
