*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--font-1: #ccccff;
	--background-1: #080808;
	--background-2: #000000;
	--highlight-1: #ab946b;
	--navbar-width: 55px;
}

body {
	margin: 0;
	display: grid;
	grid-template-rows: var(--navbar-width) 1fr;
	font-family: "Oxygen", sans-serif;
	height: 100vh;
	overflow: hidden;
}

main {
	display: flex;
	background-color: #2c3c4c;
	color: white;
}

main a {
	color: white;
}

main article {
	padding: 20px 60px;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

#top-bar {
	position: sticky;
	left: 0;
	color: var(--font-1);
	background-color: var(--background-1);
	display: flex;
	align-items: center;
	padding: 10px;
	justify-content: space-between;
}

.sidebar-item {
	color: var(--font-1);
	font-size: 1.2em;
}

h2.sidebar-item {
	font-size: 1.6em;
}

.icon-bar {
	column-gap: 13px;
	display: flex;
	user-select: none;
}

.bar-item {
	display: flex;
	margin: 0;
}

.bar-item,
.sidebar-item {
	position: relative;
}

.underscore-thingy {
	display: inline-block;
	width: 22px;
	height: 2.5px;
	background-color: var(--highlight-1);
	bottom: 0;
	right: -15px;
	position: absolute;
	animation: 1s infinite alternate blink;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

.bar-icon {
	width: 40px;
}

#sidebar {
	position: absolute;
	height: calc(100% - var(--navbar-width));
	width: 200px;
	transition: transform 1s ease-in-out;
	padding: 10px 25px;
	flex-direction: column;
	background-color: var(--background-2);
}

#sidebar:not(.open) {
	transform: translateX(-200px);
}

#credits {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#credits :is(h1, h3, p) {
	margin: 0;
}

#credits section {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#credits {
	margin: 0;
}

article {
  transform: translate(0, 35%) !important;
}
